/*
.panel {
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
}

.panel-lost {
    background-image: url('/assets/images/sad_panda.svg');
}
.panel-found {
    background-image: url('/assets/images/noodlebox.svg');
}
*/